.container {
  position: relative;
  top: 80px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}

.left-paragraph {
  width: 25%;
  padding: 10px;
  font-size: 18px;
}

.container h2 {
  color: #fff;
  font-size: 48px;
}

.right-paragraph {
  flex: 1;
  width: 100px;
  text-align: right;
  margin-right: 200px;
  margin-top: 25px;
  padding: 10px;
  font-size: 42px;
}
img
{
  width: 10%;
  align-items:center;
}