.container {
  position: relative;
  top: 140px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  column-gap: 650px;
}

.left-paragraph {
  width: 450px;
  padding: 10px;
  font-size: 18px;
}

.container h2 {
  color: #fff;
  font-size: 48px;
}

.right-paragraph {
  flex: 1;
  width: 450px;
  text-align: right;
  margin-right: 150px;
  padding: 10px;
  font-size: 42px;
}
<<<<<<< HEAD

.left-paragraphs h2,
.right-paragraphs h2 {
  font-size: 32px;
}
.left-paragraphs {
  position: relative;
  top: 80px;
  width: 500px;
  padding-bottom: 80px;
}
.right-paragraphs {
  position: relative;
  top: 80px;
  width: 500px;
  text-align: left;
}
=======
img
{
  width: 10%;
  align-items:center;
}
>>>>>>> 2a9c982100dcc6acdd1d2f5c93efb1f1c0764d88
